<div class="panel panel-primary" *ngIf="product">
    <div class="panel-heading">
        {{ pageTitle + ": " + product.title }}
    </div>

    <div class="panel-body">
        <div class="has-error" *ngIf="errorMessage">{{errorMessage}}</div>

        <div class="row">
            <div class="col-md-2">SKU: </div>
            <div class="col-md-10">{{ product.sku | uppercase }}</div>
        </div>
        <div class="row">
            <div class="col-md-2">Nome: </div>
            <div class="col-md-10">{{ product.nome }}</div>
        </div>
        <div class="row">
            <div class="col-md-2">Descrição: </div>
            <div class="col-md-10">{{ product.descricao}}</div>
        </div>
        <div class="row">
            <div class="col-md-2">Preço: </div>
            <div class="col-md-10">{{ product.preco | currency:'BRL':true }}</div>
        </div>
    </div>

    <div class="panel-footer">
        <a class="btn btn-default" (click)="onBack()" style="width:80px">
            <i class="glyphicon glyphicon-chevron-left"></i> Voltar
        </a>
        <a class="btn btn-primary" style="width:80px;margin-left:10px" [routerLink]="['/productEdit', product.id]">
            Editar
        </a>
    </div>
</div>